//colors
$dark-blue: #263546;
$light-blue: #00abff;
$gentle-blue: #0091ff;
$light-green: #33cc66;
$main-gray: #808080;
$secondary-gray: #474747;
$gray-header: #adacac;
$gray-text: #5d5d5d;
$gray-line: #dddddd;

//gradient-colors
$l-blue: #00c6ff;
$d-blue: #0072ff;
